<!DOCTYPE html>
<html class="draft">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wigh.nu</title>
        <link rel="stylesheet" href="../main.css">
        <link rel="stylesheet" href="../draft.css">
        <link rel="icon" href="../images/logo.jpg">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <!--<li><a href="resume.html">Resumé</a></li> -->
                    <li><a href="draft.html">FPL Draft</a></li>
                </ul>
            </nav>
            <h1>FPL Draft</h1>
        </header>
        <div class="Overall">
            Under development.
        </div>
    </body>

</html>