<!DOCTYPE html>
<html class="draft">
    <head>
        <title>Wigh.nu</title>
        <link rel="stylesheet" href="../main.css">
        <link rel="icon" href="../images/logo.jpg">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="resume.html">Resumé</a></li>
                    <li><a href="draft.html">FPL Draft</a></li>
                </ul>
            </nav>
            <h1>FPL Draft</h1>
        </header>
        <div>
            Under development.
        </div>
    </body>

</html>